$bluetikicolor : #1a94ff;
$backgroundcolor : #f5f5fa;
html{
    font-size:62.5%;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    background-color: #efefef;
    line-height: 1.15;
    text-size-adjust: 100%;
    transition: all linear 0.75s;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
