html {
  font-size: 62.5%;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  background-color: #efefef;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-transition: all linear 0.75s;
  transition: all linear 0.75s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  background-color: #1a94ff;
  height: 100px;
  width: 100vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 1000;
  top: 0;
  left: 0;
}

#header .header__content {
  width: 1240px;
  margin: auto;
  height: 100%;
}

#header .header__content .header__content-above {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 6.6rem;
  padding: 1.8rem 0 0.8rem;
}

#header .header__content .header__content-above .logo-tiki {
  height: 4rem;
  width: 6rem;
  background: url(../images/tikilogo.png) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

#header .header__content .header__content-above .header__search-area {
  width: 746px;
  height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header .header__content .header__content-above .header__search-area form {
  width: 746px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header__content .header__content-above .header__search-area form .search-form,
#header .header__content .header__content-above .header__search-area form input {
  width: 626px;
  height: 4rem;
  border: none;
  padding: 0 1.2rem;
  font-size: 1.5rem;
}

#header .header__content .header__content-above .header__search-area form .search-form::-webkit-search-decoration, #header .header__content .header__content-above .header__search-area form .search-form::-webkit-search-cancel-button, #header .header__content .header__content-above .header__search-area form .search-form::-webkit-search-results-button, #header .header__content .header__content-above .header__search-area form .search-form::-webkit-search-results-decoration,
#header .header__content .header__content-above .header__search-area form input::-webkit-search-decoration,
#header .header__content .header__content-above .header__search-area form input::-webkit-search-cancel-button,
#header .header__content .header__content-above .header__search-area form input::-webkit-search-results-button,
#header .header__content .header__content-above .header__search-area form input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

#header .header__content .header__content-above .header__search-area form .search-form:focus,
#header .header__content .header__content-above .header__search-area form input:focus {
  outline: none;
}

#header .header__content .header__content-above .header__search-area form .search-form::-webkit-input-placeholder,
#header .header__content .header__content-above .header__search-area form input::-webkit-input-placeholder {
  color: #b2b2b2;
  font-size: 1.5rem;
}

#header .header__content .header__content-above .header__search-area form .search-form:-ms-input-placeholder,
#header .header__content .header__content-above .header__search-area form input:-ms-input-placeholder {
  color: #b2b2b2;
  font-size: 1.5rem;
}

#header .header__content .header__content-above .header__search-area form .search-form::-ms-input-placeholder,
#header .header__content .header__content-above .header__search-area form input::-ms-input-placeholder {
  color: #b2b2b2;
  font-size: 1.5rem;
}

#header .header__content .header__content-above .header__search-area form .search-form::placeholder,
#header .header__content .header__content-above .header__search-area form input::placeholder {
  color: #b2b2b2;
  font-size: 1.5rem;
}

#header .header__content .header__content-above .header__search-area form button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 120px;
  height: 4rem;
  display: inline-block;
  border: none;
  background-color: #0d5cb6;
  color: #fff;
  font-size: 1.7rem;
}

#header .header__content .header__content-above .header__search-area form button:focus {
  outline: none;
}

#header .header__content .header__content-above .header__search-area form .search-form {
  position: relative;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto {
  display: none;
  width: 100%;
  min-height: 610px;
  overflow: hidden;
  background: #fff;
  position: absolute;
  top: 40;
  left: 10;
  padding: 1rem 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .item-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1.2rem;
  font-weight: bold;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .item-promo a {
  color: black;
  text-decoration: none;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .StyleSuggetstion {
  width: 100%;
  height: 16rem;
  overflow-y: hidden;
  position: relative;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .StyleSuggetstion .history-keyword-item,
#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .StyleSuggetstion .suggestion-keyword-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  padding: 0 1.2rem;
  text-decoration: none;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .StyleSuggetstion .history-keyword-item img,
#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .StyleSuggetstion .suggestion-keyword-item img {
  height: 35px;
  width: 35px;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .StyleSuggetstion .history-keyword-item .keyword,
#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .StyleSuggetstion .suggestion-keyword-item .keyword {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .StyleSuggetstion .history-keyword-item .delete,
#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .StyleSuggetstion .suggestion-keyword-item .delete {
  justify-self: flex-end;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .StyleSuggetstion .history-keyword-item:hover,
#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .StyleSuggetstion .suggestion-keyword-item:hover {
  background: #e9f6ff;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .StyleSuggetstion .show-more-suggest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  border-bottom: 1px solid #e9f6ff;
  font-size: 1.3rem;
  color: #0d5cb6;
  text-decoration: none;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets {
  width: 100%;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotKeyWords {
  width: 100%;
  height: 137px;
  padding: 8px 12px 12px;
  border-bottom: 1px solid #e9f6ff;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotKeyWords .wrapHotKeywords-heading {
  height: 32px;
  padding-bottom: 8px;
  text-transform: capitalize;
  font-size: 1.7rem;
  font-weight: bold;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotKeyWords .wrapHotKeywords-heading img {
  height: 30px;
  width: 30px;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotKeyWords .inner {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotKeyWords .inner .trending-item {
  height: 38px;
  width: 195.33px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  background: #fafafa;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotKeyWords .inner .trending-item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotKeyWords .inner .trending-item .title {
  margin-left: 5px;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotKeyWords .inner .trending-item .thumb {
  height: 38px;
  width: 38px;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotCategories {
  width: 100%;
  height: 270px;
  padding: 8px 0 0 0;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotCategories .wrapHotCategories-heading {
  font-weight: bold;
  font-size: 1.7rem;
  display: block;
  height: 2.7rem;
  text-transform: capitalize;
  padding-bottom: 8px;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotCategories .inner {
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotCategories .inner .item {
  height: 102.5px;
  width: 144.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #000;
  text-decoration: none;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotCategories .inner .item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotCategories .inner .item .thumb {
  height: 64.5px;
  width: 100%;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotCategories .inner .item .thumb img {
  height: 100%;
  width: 50%;
  display: block;
  margin: auto;
}

#header .header__content .header__content-above .header__search-area form .search-form .searchCompleteAuto .BottomWidgets .StyleHotCategories .inner .item .title {
  padding-top: 6px;
  line-height: 1;
  display: block;
}

#header .header__content .header__content-above .user-info {
  width: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
  cursor: pointer;
  position: relative;
}

#header .header__content .header__content-above .user-info::after {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: transparent;
}

#header .header__content .header__content-above .user-info .avatar {
  font-size: 3.4rem;
  color: #fff;
  margin-right: 1rem;
}

#header .header__content .header__content-above .user-info .user-info__name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#header .header__content .header__content-above .user-info .user-info__name a,
#header .header__content .header__content-above .user-info .user-info__name span {
  display: block;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
}

#header .header__content .header__content-above .user-info .user-info__name a {
  font-size: 1.3rem;
}

#header .header__content .header__content-above .user-info .user-infor__dropDown {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  height: 40rem;
  width: 268px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 10px 2px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 10px 2px;
  display: none;
}

#header .header__content .header__content-above .user-info .user-infor__dropDown::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

#header .header__content .header__content-above .user-info .user-infor__dropDown a {
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  display: block;
}

#header .header__content .header__content-above .user-info .user-infor__dropDown a:hover {
  background: #b2b2b256;
}

#header .header__content .header__content-above .user-info .user-infor__dropDown .user-infor__dropDown-Item {
  padding: 0.6rem 2rem;
}

#header .header__content .header__content-above .user-info .user-infor__dropDown .user-infor__dropDown-Item span {
  display: inline-block;
  padding: 0.1rem 0.5rem;
  background: red;
  color: #fff;
  border-radius: 3rem;
  font-size: 1rem;
}

#header .header__content .header__content-above .user-info .user-infor__dropDown .user-infor__dropDown-ItemIcon {
  padding: 0.8rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header__content .header__content-above .user-info .user-infor__dropDown .user-infor__dropDown-ItemIcon img {
  min-width: 3rem;
  height: 2.5rem;
}

#header .header__content .header__content-above .user-info .user-infor__dropDown .user-infor__dropDown-ItemIcon .content {
  margin-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#header .header__content .header__content-above .user-info .user-infor__dropDown .user-infor__dropDown-ItemIcon .content span {
  display: block;
  width: 100%;
}

#header .header__content .header__content-above .user-info .user-infor__dropDown .user-infor__dropDown-ItemIcon .content span:first-child {
  display: inline;
}

#header .header__content .header__content-above .item-cart-inner {
  height: 100%;
  cursor: pointer;
}

#header .header__content .header__content-above .item-cart-inner .cart {
  font-size: 3.4rem;
  color: #fff;
  margin-right: 1rem;
  position: relative;
}

#header .header__content .header__content-above .item-cart-inner .cart span {
  position: absolute;
  top: -0.6rem;
  right: -0.5rem;
  font-size: 1.3rem;
  color: #fff;
  background: orange;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
  border: 1px solid #1a94ff;
}

#header .header__content .header__content-above .item-cart-inner span {
  font-size: 1.3rem;
  color: #fff;
}

#header .header__content .header__content-below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 4.4rem;
}

#header .header__content .header__content-below .below__container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header__content .header__content-below .below__container-left img {
  width: 9.4rem;
  height: 1.2rem;
}

#header .header__content .header__content-below .below__container-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 160px;
  list-style: none;
}

#header .header__content .header__content-below .below__container-left ul li {
  display: inline-block;
}

#header .header__content .header__content-below .below__container-left ul li a {
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.2rem;
}

#header .header__content .header__content-below .below__container-right {
  font-size: 1.4rem;
  cursor: pointer;
  color: #fff;
  padding: 0.2rem 0.5rem;
  background: #51adff;
  border-radius: 10rem;
}

.user-info:hover .user-infor__dropDown {
  display: block !important;
}

.navigationBar {
  position: relative;
  width: 100vw;
  top: 0;
  left: 0;
  background: #fff;
  height: 4.4rem;
}

.navigationBar .container-button {
  height: 100%;
  width: 1240px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigationBar .container-button .fa-chevron-left {
  position: absolute;
  left: 0;
  font-size: 20px;
  z-index: 3;
  padding: 0.3rem;
  cursor: pointer;
}

.navigationBar .container-button .fa-chevron-right {
  position: absolute;
  right: 0;
  font-size: 20px;
  z-index: 3;
  padding: 0.3rem;
  cursor: pointer;
}

.navigationBar .container-nav {
  height: 100%;
  width: 1200px;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.navigationBar .container-nav::-webkit-scrollbar {
  display: none;
}

.navigationBar .container-nav .navigationBar__items {
  list-style: none;
  width: 3080px;
  position: absolute;
  height: 100%;
  left: 0;
}

.navigationBar .container-nav .navigationBar__items li {
  display: inline-block;
}

.navigationBar .container-nav .navigationBar__items li a {
  display: block;
  padding: 0 1.9rem;
  font-size: 1.4rem;
  color: #000;
  text-decoration: none;
  line-height: 47px;
}

.navigationBar .container-nav .navigationBar__items li:first-child a {
  padding-left: 0;
}

.navigationBar .container-nav .navigationBar__items li:last-child a {
  padding-right: 0;
}

.section-slide {
  position: relative;
  top: 0;
  width: 100vw;
  padding: 2rem 0;
  background: #efefef;
}

.section-slide .MainSlide-baner {
  width: 1240px;
  margin: auto;
  height: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-slide .MainSlide-baner .swiper {
  width: 823px;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.section-slide .MainSlide-baner .swiper .swiper-wrapper {
  width: calc(823px * 9);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-slide .MainSlide-baner .swiper .swiper-wrapper .swiper-slide {
  width: 823px;
}

.section-slide .MainSlide-baner .swiper .swiper-wrapper .swiper-slide img {
  width: 823px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-slide .MainSlide-baner .banner {
  height: 100%;
  width: 410px;
}

.section-slide .MainSlide-baner .banner img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.swiper-button-prev {
  color: rgba(255, 255, 255, 0.432) !important;
  padding: 2rem 1.5rem;
  background: #b2b2b260;
  position: absolute;
  left: 0 !important;
  border-radius: 0 5px 5px 0;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev .fa-chevron-left {
  font-size: 2rem;
}

.swiper-button-next {
  position: absolute;
  color: rgba(255, 255, 255, 0.432) !important;
  padding: 2rem;
  background: #b2b2b260;
  padding: 2rem 1.5rem;
  right: 0 !important;
  border-radius: 5px 0 0 5px;
}

.swiper-button-next:hover {
  background: #202020;
  color: #fff;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-next .fa-chevron-right {
  font-size: 20px;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background: #202020;
  color: #fff !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

.HomeContainerDeals {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 342px;
  background: #efefef;
}

.HomeContainerDeals .ContainerDeals {
  width: 1240px;
  height: 100%;
  margin: auto;
  background: #fff;
  position: relative;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__heading {
  padding: 16px;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__heading .ContainerDeals__heading-letf #flash {
  opacity: 0;
  display: inline-block;
  -webkit-animation: fade 0.5s linear 0.2s infinite;
          animation: fade 0.5s linear 0.2s infinite;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__heading .ContainerDeals__heading-right .Countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__heading .ContainerDeals__heading-right .Countdown .fa-chevron-right {
  font-size: 17px;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__heading .ContainerDeals__heading-right .Countdown span {
  font-size: 1.5rem;
  color: #fff;
  margin-right: 1.5rem;
  padding: .2rem .5rem;
  min-width: 2rem;
  border-radius: .2rem;
  background: #e03434;
  text-align: center;
  position: relative;
  font-weight: bold;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__heading .ContainerDeals__heading-right .Countdown .Hour::after, .HomeContainerDeals .ContainerDeals .ContainerDeals__heading .ContainerDeals__heading-right .Countdown .Minute::after {
  content: ':';
  display: inline-block;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  border-radius: 50%;
  color: #000;
  margin: 0 0.5rem;
  position: absolute;
  top: 50%;
  right: -1.6rem;
  font-size: 3rem;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__body {
  width: 1240px;
  overflow: hidden;
  position: relative;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__body .body__container {
  width: 2480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__body .body__container .deals__item {
  width: 207px;
  height: 267px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__body .body__container .deals__item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__body .body__container .deals__item p {
  height: 24px;
  margin: 8px 0;
  width: 100%;
  line-height: 24px;
  color: #ff4c57;
  font-size: 1.6rem;
  font-weight: bold;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__body .body__container .deals__item p span {
  font-size: 1.3rem;
  font-weight: normal;
  padding: .1rem;
  border: .5px solid #fa6872;
  border-radius: 2px;
  margin-left: 1rem;
  background: #f09ba14f;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__body .body__container .deals__item .deal-qty {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 1.4rem;
  position: relative;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__body .body__container .deals__item .deal-qty .deal-progess {
  width: 100%;
  height: 20px;
  background: #ec78809d;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__body .body__container .deals__item .deal-qty .deal-progess span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.HomeContainerDeals .ContainerDeals .ContainerDeals__body .body__container .deals__item .deal-qty .deal-progess .deal-progess__bar {
  width: 90%;
  border-radius: 30px;
  position: absolute;
  height: 100%;
  background: #ff4c57;
  top: 0;
  left: 0;
  z-index: 2;
}

.HomeContainerDeals .ContainerDeals .prev,
.HomeContainerDeals .ContainerDeals .next {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
}

.HomeContainerDeals .ContainerDeals .prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
/*# sourceMappingURL=main.css.map */